.hotPage {
    padding-top: 110px;
}

.hotPage-title {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    background-color: rgba(9, 25, 46, 0.6);
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.hotPage-title__icon {
    margin-left: 10px;
    font-size: 25px;
}

.hotPage-header {
    display: flex;
    height: 520px;
}

.hotPage-header-child {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.hotPage-list {}


.box-exten {
    display: flex;
    align-items: center;
}

.box-exten--brand {
    height: 16px;
    margin-right: 10px;
    margin-right: 10px;
}

.box-exten--brand:hover {
    cursor: pointer;
}

.box-exten--time {
    font-size: 16px;
    color: #ADB5BD;
    margin-right: 10px;
}

.box-exten--involve {
    font-size: 16px;
    color: #ADB5BD;
    margin-right: 10px;
}

.box-logo {
    height: 16px;
    -webkit-filter: grayscale(100%);

    display: none;
}

.box-logo:hover {
    -webkit-filter: none;
    cursor: pointer;
}


.hide {
    display: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

/* Test item */


.boxTopicItem {
    max-width: calc((100% - 40px) / 3);
}

.boxTopicItem__content {
    padding: 10px 0;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}

.boxTopicItem__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: all .5s ease
}

.boxTopicItem__image {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.boxTopicItem__img:hover {
    transform: scale(1.1);
}

.boxTopicItem {
    margin-bottom: 30px;
    height: 281px;
}

.boxTopicItem__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: black;
    line-height: 25px;
}

.boxTopicItem:hover .box-logo {
    display: block;
}

.boxTopicItem__desc {
    display: none;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #495057;
    padding: 5px 0 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hotPage-body {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;

}

.boxTopicItem:first-child {
    max-width: 50%;
    height: 500px;
}

.boxTopicItem:first-child .boxTopicItem__img {
    height: 100%;
}

.boxTopicItem:first-child .boxTopicItem__image {
    height: 54%;
}

.boxTopicItem:first-child .boxTopicItem__content {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.boxTopicItem:first-child .boxTopicItem__title {
    font-size: 35px;
    line-height: 40px;
    overflow: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxTopicItem:first-child .boxTopicItem__desc {
    display: -webkit-box;
}

.boxTopicItem:nth-child(2) .boxTopicItem__img {
    height: 100%;
}

.boxTopicItem:nth-child(3) .boxTopicItem__img {
    height: 100%;
}

.boxTopicItem:nth-child(4) .boxTopicItem__img {
    height: 100%;
}

.boxTopicItem:nth-child(5) .boxTopicItem__img {
    height: 100%;
}

.boxTopicItem:nth-child(2) .boxTopicItem__image {
    height: 54%;
}

.boxTopicItem:nth-child(3) .boxTopicItem__image {
    height: 54%;
}

.boxTopicItem:nth-child(4) .boxTopicItem__image {
    height: 54%;
}

.boxTopicItem:nth-child(5) .boxTopicItem__image {
    height: 54%;
}

.boxTopicItem:nth-child(2) .boxTopicItem__content {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 10px;
}

.boxTopicItem:nth-child(3) .boxTopicItem__content {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.boxTopicItem:nth-child(4) .boxTopicItem__content {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 10px;
}

.boxTopicItem:nth-child(5) .boxTopicItem__content {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 10px;
}


.boxTopicItem:nth-child(2), .boxTopicItem:nth-child(3), .boxTopicItem:nth-child(4), .boxTopicItem:nth-child(5) {
    height: 240px;
    width: calc((50% - 40px)/2);

}

.boxTopicItem:nth-child(4) {
    position: absolute;
    top: 260px;
    right: 278px;
}

.boxTopicItem:nth-child(5) {
    position: absolute;
    top: 260px;
    right: 0px;
}



.boxTopicItem__content:hover .picture-icon::before {
    background-position: -50px -700px;
    transition: all .5s ease
}