.content-user__left {
    border: 1px solid #D5D8DC;
    margin-bottom: 30px;
    margin-right: 10px;
    height: 520px;
}

.user-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 33px;
    align-items: center;
    margin-bottom: 26px;
}

.user-background__image {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.user-background__name {
    margin-top: 26px;
    font-size: 20px;
    font-weight: 700;
}

.user-background__name::after {
    margin-top: 16px;
    display: block;
    content: "";
    height: 0;
    width: 100%;
    border-top: 1px solid #D5D8DC;
}

.user-list {
    height: 270px;
    display: flex;
    flex-direction: column;

}

.user-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.user-item+.user-item {
    border-top: 1px solid #D5D8DC;
}

.user-item__icon {
    font-size: 25px;
    color: #454545;
}

.user-item__title {
    font-size: 20px;
    padding-left: 20px;
}

.content-user__right {
    border: 1px solid #D5D8DC;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 10px 20px 0 20px;

}

.user-item:hover .user-item__icon {
    color: #5DADE2;
}

/* user page */
.user-page__remove-all {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCD1D1;
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.user-page__remove-all:hover {
    color: tomato;
    cursor: pointer;
}

.user-page__remove-all__icon {
    font-size: 15px;
    margin-right: 5px;
}

.user-page__remove-all__text {
    font-size: 15px;
}

.user-page__header {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-page__title {
    font-size: 30px;
    position: relative;
}

.user-page__title::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100px;
    height: 0;
    border-top: 1px solid teal;
}

/* Box-offer */
.box-offer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;

}

.box-offer__frame-img {
    border-radius: 5px;
    width: 155px;
    height: 100px;
    overflow: hidden;
}

.box-offer__img:hover {
    transform: scale(1.2);
}

.box-offer__img {
    width: 155px;
    height: 100px;
}

.box-offer__content {
    padding-left: 10px;
}

.box-offer__title {
    font-size: 20px;
}

.box-offer:hover .box-logo {
    display: block;
}

/* Box Recent */
.user-page__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.box-recent__frame-img {
    border-radius: 5px;
    min-width: 115px;
    height: 85px;
    overflow: hidden;
}

.box-recent__img {
    width: 115px;
    height: 85px;
}

.box-recent__img:hover {
    transform: scale(1.2);
}

.box-recent__content {
    padding-left: 10px;
}

.box-recent__title {
    font-size: 20px;
}

.box-recent {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    padding: 0 20px 0 0;
}

.box-recent:hover .box-logo {
    display: block;
}

.box-exten__remove:hover .box-exten__remove-x {
    color: tomato;
}

.box-exten__remove:hover {
    cursor: pointer;
}

/* Box follow */
.box-follow {
    width: calc(50% - 10px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    margin-bottom: 10px;
}

.box-follow__logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.box-follow__logo-m {
    height: 40px;
    width: 40px
}

.box-follow__logo-m:hover {
    transform: scale(1.2);
}

.box-follow__name {
    flex: 1;
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-follow__remove {
    color: grey;
    font-size: 20px;
    margin-right: 20px;
}

.box-follow__remove:hover {
    cursor: pointer;
    color: tomato;
}